<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" th:fragment="header">
	<div class="container">
		<a class="navbar-brand" href="@{/}" sec:authorize="!isAuthenticated()">Quốc Đạt Mobile</a>
		<a class="navbar-brand" href="{/admin/trang-chu}" sec:authorize="isAuthenticated()">Quốc Đạt Mobile</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="nav navbar-nav ml-auto">
				<li class="nav-item text-muted active">
					<a class="nav-link" href="@{/trang-chu}">Trang chủ
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item dropdown text-muted">
					<a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" href="#">Danh mục sản phẩm</a>
					<div class="dropdown-menu bg-dark ml-auto">
						<a th:each="company : ${companylist}" th:href="@{/danh-sach-san-pham?companyid={id}(id = ${company.getId()})}" th:value="${company.getId()}" th:text="${company.getName()}" class="dropdown-item text-muted nav-link"></a>
					</div>
				</li>
				<li class="nav-item text-muted">
					<a class="nav-link" th:href="@{/danh-sach-tin-tuc}">Tin tức</a>
				</li>
				<li class="nav-item text-muted">
					<a class="nav-link" th:href="@{/gop-y}">Góp ý</a>
				</li>
				<li class="nav-item text-muted" sec:authorize="!isAuthenticated()">
					<a class="nav-link" th:href="@{dang-nhap}">Đăng nhập</a>
				</li>
				<li class="nav-item text-muted" sec:authorize="isAuthenticated()">
					<a class="nav-link" th:href="@{/logout}">Đăng xuất</a>
				</li>
			</ul>
		</div>
	</div>
</nav>