<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quốc Đạt Mobile - Trang quản lý</title>

    <th:block th:insert="~{admin/common/link :: link}"></th:block>

    <th:block th:insert="~{admin/common/link :: script}"></th:block>

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <div th:insert="~{admin/common/menu :: menu}"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <div th:insert="~{admin/common/header :: header}"></div>

            <!-- Begin Page Content -->
            <div class="main-content-inner">
                <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                    <ul class="breadcrumb">
                        <li><i class="ace-icon fa fa-home home-icon"></i> <a href="#">Trang chủ</a></li>
                        <li><a th:href="@{/admin/danh-sach-tin-tuc}">Danh sách tin tức</a></li>
                        <li class="active">Xóa tin tức</li>
                    </ul>
                </div>
                <div class="col-md-offset-5 col-md-9">
                    <form th:method="PUT" th:action="@{/admin/danh-sach-tin-tuc/{path}(path = ${id})}">
                        <div>
                            <span text>Bạn có chắc chắn muốn xóa sản phẩm này không!</span>
                        </div>
                        <br>
                        <div>
                            <button class="btn btn-info">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                Xác nhận
                            </button>
                            <a style="margin-left: 70px" class="btn btn-info" th:href="@{/admin/danh-sach-tin-tuc}">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                Hủy bỏ
                            </a>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <div th:insert="~{admin/common/footer :: footer}"></div>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<div th:insert="~{admin/common/additional :: additional}"></div>

<th:block th:insert="~{admin/common/script :: script}"></th:block>

</body>

</html>